In [32]:
# Read dataset
import pandas as pd
df = pd.read_csv('interplanetary-parsed.csv')

# Define agency country mapper
agency2country = {}
agency2country['soviet'] = 'Soviet Union'
agency2country['nasa'] = 'USA'
agency2country['jaxa'] = 'Japan'
agency2country['esa'] = 'EU'
agency2country['isro'] = 'India'
agency2country['roscosmos'] = 'Russia'
agency2country['cnsa'] = 'China'

In [8]:
df

,name,success,type,from,to,object,launch,finish,cospar,agency
0,Mars 1M,False,flyby,earth,mars,planet,1960-10-10,1960-10-10,MARSNK1,soviet
1,Mars 2M,False,towards,earth,mars,planet,1960-10-14,1960-10-14,MARSNK2,soviet
2,Sputnik 7,False,towards,earth,venus,planet,1961-02-04,1961-02-26,NaN,soviet
3,Venera 1,False,towards,earth,venus,planet,1961-02-12,1961-02-19,NaN,soviet
4,Mariner 1,False,towards,earth,venus,planet,1962-07-22,1962-07-22,NaN,nasa
5,Mariner 2,True,flyby,earth,venus,planet,1962-08-27,1963-01-03,NaN,nasa
6,Sputnik 20,False,towards,earth,venus,planet,1962-09-01,1962-09-06,NaN,soviet
7,Sputnik 21,False,towards,earth,venus,planet,1962-09-12,1962-09-14,NaN,soviet
8,Sputnik 22,False,towards,earth,mars,planet,1962-10-24,1962-10-29,NaN,soviet
9,Mars 1,False,towards,earth,mars,planet,1962-11-01,1963-03-21,NaN,soviet
10,Sputnik 24,False,towards,earth,mars,planet,1962-11-04,1962-11-25,NaN,soviet
11,Cosmos 21,False,towards,earth,venus,planet,1963-11-11,1963-11-14,NaN,soviet
12,Venera 1964A,False,towards,earth,venus,planet,1964-02-19,1964-02-19,NaN,soviet
13,Venera 1964B,False,towards,earth,venus,planet,1964-03-01,1964-03-01,NaN,soviet
14,Cosmos 27,False,towards,earth,venus,planet,1964-03-27,1964-03-27,NaN,soviet
15,Zond 1,False,towards,earth,venus,planet,1964-04-02,1964-04-02,NaN,soviet
16,Mariner 3,False,towards,earth,mars,planet,1964-11-05,1964-11-05,NaN,nasa
17,Mariner 4,True,flyby,earth,mars,planet,1964-11-28,1967-12-21,NaN,nasa
18,Zond 2,False,towards,earth,mars,planet,1964-11-30,1965-08-06,NaN,soviet
19,Venera 2,False,towards,earth,venus,planet,1965-11-12,1966-03-04,NaN,soviet
20,Venera 3,False,lander,earth,venus,planet,1965-11-16,1966-03-01,NaN,soviet
21,Cosmos 96,False,towards,earth,venus,planet,1965-11-23,1965-12-09,NaN,soviet
22,Venera 1965A,False,towards,earth,venus,planet,1965-11-26,1965-11-26,NaN,soviet
23,Unnamed,False,towards,earth,mars,planet,1967-03-27,1967-03-27,NaN,soviet
24,Venera 4,True,lander,earth,venus,planet,1967-06-12,1967-10-18,NaN,soviet
25,Mariner 5,True,flyby,earth,venus,planet,1967-06-14,1967-11-01,NaN,nasa
26,Cosmos 167,False,towards,earth,venus,planet,1967-06-17,1967-06-25,NaN,soviet
27,Venera 5,True,lander,earth,venus,planet,1969-01-05,1969-05-16,NaN,soviet
28,Venera 6,True,lander,earth,venus,planet,1969-01-10,1969-05-17,NaN,soviet
29,Mariner 6,True,flyby,earth,mars,planet,1969-02-25,NaN,NaN,nasa
...,...,...,...,...,...,...,...,...,...,...
132,Dawn,True,flyby,earth,mars,planet,2007-09-27,2009-02-17,NaN,nasa
133,Dawn,True,orbit,mars,vesta,asteroid,2009-02-17,2011-07-16,NaN,nasa
134,Dawn,True,orbit,vesta,ceres,asteroid,2011-07-16,2015-03-06,NaN,nasa
135,NEAR,True,orbit,earth,(433) Eros,asteroid,1996-02-17,NaN,NaN,nasa
136,Deep Space 1,True,flyby,earth,(9969) Braille,asteroid,1998-10-24,2001-09-22,NaN,nasa
137,Deep Space 1,True,orbit,(9969) Braille,19P/Borrelly,asteroid,2001-09-22,2001-09-22,NaN,nasa
138,CONTOUR,False,flyby,earth,2P/Encke,asteroid,2002-07-02,2003-11-03,NaN,nasa
139,CONTOUR,False,flyby,2P/Encke,73P/Schwassmann-Wachmann,asteroid,2003-11-03,2006-06-18,NaN,nasa
140,Deep Impact,True,flyby,earth,9P/Tempel,asteroid,2005-01-12,2005-07-04,2005-001A,nasa
141,Deep Impact,True,flyby,9P/Tempel,103P/Hartley,asteroid,2005-07-04,2010-11-04,2005-001A,nasa
142,Stardust,True,flyby,earth,(5535) Annefrank,asteroid,1999-02-07,2002-11-02,NaN,nasa
143,Stardust,True,flyby,(5535) Annefrank,81P/Wild,asteroid,2002-11-02,2004-01-02,NaN,nasa
144,Stardust,True,lander,81P/Wild,earth,planet,2004-01-02,2006-01-15,NaN,nasa
145,Stardust,True,flyby,earth,9P/Tempel,asteroid,2006-01-15,2011-02-14,NaN,nasa
146,Akatsuki (Planet-C),False,orbit,earth,venus,planet,2010-05-20,2010-12-06,2010-020D,jaxa
147,Akatsuki (Planet-C),True,orbit,venus,venus,planet,2010-12-06,2015-12-07,2010-020D,jaxa
148,Juno,True,orbit,earth,jupiter,planet,2011-08-05,NaN,NaN,nasa
149,Phobos-Grunt,False,towards,earth,mars,planet,2011-11-08,2012-01-15,NaN,roscosmos
150,Yinghuo-1,False,towards,earth,mars,planet,2011-11-08,2012-01-15,NaN,cnsa
151,Curiosity (Mars Science Laboratory),True,rover,earth,mars,planet,2011-11-26,NaN,NaN,nasa
152,Mars Orbiter Mission,True,orbit,earth,mars,planet,2013-11-05,NaN,NaN,isro
153,MAVEN,True,orbit,earth,mars,planet,2013-11-18,NaN,NaN,nasa
154,Hayabusa,True,orbit,earth,(25143) Itokawa,asteroid,2003-05-09,2005-10-04,NaN,jaxa
155,Hayabusa,False,lander,(25143) Itokawa,(25143) Itokawa,asteroid,2005-10-04,2005-11-19,NaN,jaxa
156,Hayabusa,True,lander,(25143) Itokawa,earth,planet,2005-11-19,2010-06-13,NaN,jaxa
157,Hayabusa 2,True,flyby,earth,earth,planet,2014-12-03,2015-12-03,2014-076A,jaxa
158,Hayabusa 2,True,ongoing,earth,(162173) 1999 JU3,asteroid,2015-12-03,2018-06,2014-076A,jaxa
159,Chang'e 2,True,flyby,earth,(4179) Toutatis,asteroid,2010-10-01,NaN,NaN,cnsa
160,ExoMars Trace Gas Orbiter,True,ongoing,earth,mars,planet,2016-03-14,NaN,2016-017A,esa
161,OSIRIS-REx,True,ongoing,earth,(101955) Bennu,asteroid,2016-09-08,NaN,NaN,nasa

In [34]:
# Parse the data to generate stacked dataset
from collections import defaultdict
stack_data = defaultdict(lambda: defaultdict(lambda: defaultdict(lambda: 0)))
for row in df.iterrows():
    agency, date, to = row[1]['agency'], row[1]['launch'], row[1]['to']
    country = agency2country[agency]
    year = int(date.split('-')[0])
    stack_data[to][year][country] += 1

In [48]:
# Get stack of all planet
stack_all = defaultdict(lambda: defaultdict(lambda : 0))
for to in stack_data:
    for year in stack_data[to]:
        for country in stack_data[to][year]:
            stack_all[year][country] += 1
        
# Save the stack of all planet
countries = ['China','EU', 'India', 'Japan', 'Russia', 'Soviet Union', 'USA']
with open('stacked-all.csv', 'w') as f:
    f.write('date,' + ','.join(countries) + '\n')
    for year in sorted(stack_all.keys()):
        f.write(str(year))
        for country in countries:
            f.write(',' + str(stack_all[year][country]))
        f.write('\n')

In [40]:
stack_all

defaultdict(<function __main__.<lambda>()>,
            {1960: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 1}),
             1962: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 2}),
             1964: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 2}),
             1967: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 2}),
             1969: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 2}),
             1971: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 1}),
             1973: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 4}),
             1975: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 2}),
             1988: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 1}),
             1992: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 1}),
             1996: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 2}),
             1998: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 3}),
             1999: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 3}),
             2001: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 2}),
             2003: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 3}),
             2004: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 4}),
             2005: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 6}),
             2007: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 3}),
             2011: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 3}),
             2013: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 1}),
             2016: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 2}),
             1961: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 1}),
             1963: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 1}),
             1965: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 1}),
             1970: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 1}),
             1972: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 2}),
             1978: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 1}),
             1981: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 2}),
             1982: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 1}),
             1983: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 1}),
             1984: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 3}),
             1985: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 3}),
             1989: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 2}),
             1997: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 1}),
             2010: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 3}),
             1977: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 1}),
             1993: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 1}),
             1990: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 2}),
             2006: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 4}),
             1974: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 2}),
             1979: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 2}),
             2000: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 1}),
             1986: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 2}),
             1980: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 1}),
             1991: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 1}),
             2008: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 1}),
             2015: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 2}),
             2019: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 1}),
             2009: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 1}),
             2002: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 2}),
             2014: defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'USA': 1})})

In [22]:
from collections import defaultdict
counter = defaultdict(lambda: [0, 0]) # [success, fail]

for row in df.iterrows():
    success, type_mission, to = row[1][1], row[1][2], row[1][4]
    if success:
        counter[(to, type_mission)][0] += 1
    else:
        counter[(to, type_mission)][1] += 1

counter_object = defaultdict(lambda: [0, 0]) # [success, fail]
for row in df.iterrows():
    success, type_mission, object_type = row[1][1], row[1][2], row[1][5]
    if success:
        counter_object[(object_type, type_mission)][0] += 1
    else:
        counter_object[(object_type, type_mission)][1] += 1

In [16]:
df

,name,success,type,from,to,object,launch,finish,cospar,agency
0,Mars 1M,False,flyby,earth,mars,planet,1960-10-10,1960-10-10,MARSNK1,soviet
1,Mars 2M,False,towards,earth,mars,planet,1960-10-14,1960-10-14,MARSNK2,soviet
2,Sputnik 7,False,towards,earth,venus,planet,1961-02-04,1961-02-26,NaN,soviet
3,Venera 1,False,towards,earth,venus,planet,1961-02-12,1961-02-19,NaN,soviet
4,Mariner 1,False,towards,earth,venus,planet,1962-07-22,1962-07-22,NaN,nasa
5,Mariner 2,True,flyby,earth,venus,planet,1962-08-27,1963-01-03,NaN,nasa
6,Sputnik 20,False,towards,earth,venus,planet,1962-09-01,1962-09-06,NaN,soviet
7,Sputnik 21,False,towards,earth,venus,planet,1962-09-12,1962-09-14,NaN,soviet
8,Sputnik 22,False,towards,earth,mars,planet,1962-10-24,1962-10-29,NaN,soviet
9,Mars 1,False,towards,earth,mars,planet,1962-11-01,1963-03-21,NaN,soviet
10,Sputnik 24,False,towards,earth,mars,planet,1962-11-04,1962-11-25,NaN,soviet
11,Cosmos 21,False,towards,earth,venus,planet,1963-11-11,1963-11-14,NaN,soviet
12,Venera 1964A,False,towards,earth,venus,planet,1964-02-19,1964-02-19,NaN,soviet
13,Venera 1964B,False,towards,earth,venus,planet,1964-03-01,1964-03-01,NaN,soviet
14,Cosmos 27,False,towards,earth,venus,planet,1964-03-27,1964-03-27,NaN,soviet
15,Zond 1,False,towards,earth,venus,planet,1964-04-02,1964-04-02,NaN,soviet
16,Mariner 3,False,towards,earth,mars,planet,1964-11-05,1964-11-05,NaN,nasa
17,Mariner 4,True,flyby,earth,mars,planet,1964-11-28,1967-12-21,NaN,nasa
18,Zond 2,False,towards,earth,mars,planet,1964-11-30,1965-08-06,NaN,soviet
19,Venera 2,False,towards,earth,venus,planet,1965-11-12,1966-03-04,NaN,soviet
20,Venera 3,False,lander,earth,venus,planet,1965-11-16,1966-03-01,NaN,soviet
21,Cosmos 96,False,towards,earth,venus,planet,1965-11-23,1965-12-09,NaN,soviet
22,Venera 1965A,False,towards,earth,venus,planet,1965-11-26,1965-11-26,NaN,soviet
23,Unnamed,False,towards,earth,mars,planet,1967-03-27,1967-03-27,NaN,soviet
24,Venera 4,True,lander,earth,venus,planet,1967-06-12,1967-10-18,NaN,soviet
25,Mariner 5,True,flyby,earth,venus,planet,1967-06-14,1967-11-01,NaN,nasa
26,Cosmos 167,False,towards,earth,venus,planet,1967-06-17,1967-06-25,NaN,soviet
27,Venera 5,True,lander,earth,venus,planet,1969-01-05,1969-05-16,NaN,soviet
28,Venera 6,True,lander,earth,venus,planet,1969-01-10,1969-05-17,NaN,soviet
29,Mariner 6,True,flyby,earth,mars,planet,1969-02-25,NaN,NaN,nasa
...,...,...,...,...,...,...,...,...,...,...
132,Dawn,True,flyby,earth,mars,planet,2007-09-27,2009-02-17,NaN,nasa
133,Dawn,True,orbit,mars,vesta,asteroid,2009-02-17,2011-07-16,NaN,nasa
134,Dawn,True,orbit,vesta,ceres,asteroid,2011-07-16,2015-03-06,NaN,nasa
135,NEAR,True,orbit,earth,(433) Eros,asteroid,1996-02-17,NaN,NaN,nasa
136,Deep Space 1,True,flyby,earth,(9969) Braille,asteroid,1998-10-24,2001-09-22,NaN,nasa
137,Deep Space 1,True,orbit,(9969) Braille,19P/Borrelly,asteroid,2001-09-22,2001-09-22,NaN,nasa
138,CONTOUR,False,flyby,earth,2P/Encke,asteroid,2002-07-02,2003-11-03,NaN,nasa
139,CONTOUR,False,flyby,2P/Encke,73P/Schwassmann-Wachmann,asteroid,2003-11-03,2006-06-18,NaN,nasa
140,Deep Impact,True,flyby,earth,9P/Tempel,asteroid,2005-01-12,2005-07-04,2005-001A,nasa
141,Deep Impact,True,flyby,9P/Tempel,103P/Hartley,asteroid,2005-07-04,2010-11-04,2005-001A,nasa
142,Stardust,True,flyby,earth,(5535) Annefrank,asteroid,1999-02-07,2002-11-02,NaN,nasa
143,Stardust,True,flyby,(5535) Annefrank,81P/Wild,asteroid,2002-11-02,2004-01-02,NaN,nasa
144,Stardust,True,lander,81P/Wild,earth,planet,2004-01-02,2006-01-15,NaN,nasa
145,Stardust,True,flyby,earth,9P/Tempel,asteroid,2006-01-15,2011-02-14,NaN,nasa
146,Akatsuki (Planet-C),False,orbit,earth,venus,planet,2010-05-20,2010-12-06,2010-020D,jaxa
147,Akatsuki (Planet-C),True,orbit,venus,venus,planet,2010-12-06,2015-12-07,2010-020D,jaxa
148,Juno,True,orbit,earth,jupiter,planet,2011-08-05,NaN,NaN,nasa
149,Phobos-Grunt,False,towards,earth,mars,planet,2011-11-08,2012-01-15,NaN,roscosmos
150,Yinghuo-1,False,towards,earth,mars,planet,2011-11-08,2012-01-15,NaN,cnsa
151,Curiosity (Mars Science Laboratory),True,rover,earth,mars,planet,2011-11-26,NaN,NaN,nasa
152,Mars Orbiter Mission,True,orbit,earth,mars,planet,2013-11-05,NaN,NaN,isro
153,MAVEN,True,orbit,earth,mars,planet,2013-11-18,NaN,NaN,nasa
154,Hayabusa,True,orbit,earth,(25143) Itokawa,asteroid,2003-05-09,2005-10-04,NaN,jaxa
155,Hayabusa,False,lander,(25143) Itokawa,(25143) Itokawa,asteroid,2005-10-04,2005-11-19,NaN,jaxa
156,Hayabusa,True,lander,(25143) Itokawa,earth,planet,2005-11-19,2010-06-13,NaN,jaxa
157,Hayabusa 2,True,flyby,earth,earth,planet,2014-12-03,2015-12-03,2014-076A,jaxa
158,Hayabusa 2,True,ongoing,earth,(162173) 1999 JU3,asteroid,2015-12-03,2018-06,2014-076A,jaxa
159,Chang'e 2,True,flyby,earth,(4179) Toutatis,asteroid,2010-10-01,NaN,NaN,cnsa
160,ExoMars Trace Gas Orbiter,True,ongoing,earth,mars,planet,2016-03-14,NaN,2016-017A,esa
161,OSIRIS-REx,True,ongoing,earth,(101955) Bennu,asteroid,2016-09-08,NaN,NaN,nasa

In [23]:
with open('success_rate_planet.csv', 'w') as f:
    f.write(','.join(['to', 'type', 'success', 'success_rate', 'total']) + '\n')
    for item in counter:
        to, type_mission = item
        success, fail = counter[item]
        f.write(','.join([to, type_mission, str(success), str(success / (success + fail)), str(success + fail)]) + '\n')

In [24]:
with open('success_rate_object.csv', 'w') as f:
    f.write(','.join(['object', 'type', 'success', 'success_rate', 'total']) + '\n')
    for item in counter_object:
        object_type, type_mission = item
        success, fail = counter_object[item]
        print('    ', item)
        print('   ', success, fail)
        f.write(','.join([object_type, type_mission, str(success), str(success / (success + fail)), str(success + fail)]) + '\n')

     ('planet', 'flyby')
    34 2
     ('planet', 'towards')
    0 31
     ('planet', 'lander')
    20 6
     ('planet', 'orbit')
    23 3
     ('asteroid', 'ongoing')
    8 0
     ('asteroid', 'flyby')
    20 3
     ('asteroid', 'lander')
    1 1
     ('planet', 'rover')
    3 0
     ('asteroid', 'orbit')
    6 0
     ('planet', 'ongoing')
    1 0

In [21]:
df

,name,success,type,from,to,object,launch,finish,cospar,agency
0,Mars 1M,False,flyby,earth,mars,planet,1960-10-10,1960-10-10,MARSNK1,soviet
1,Mars 2M,False,towards,earth,mars,planet,1960-10-14,1960-10-14,MARSNK2,soviet
2,Sputnik 7,False,towards,earth,venus,planet,1961-02-04,1961-02-26,NaN,soviet
3,Venera 1,False,towards,earth,venus,planet,1961-02-12,1961-02-19,NaN,soviet
4,Mariner 1,False,towards,earth,venus,planet,1962-07-22,1962-07-22,NaN,nasa
5,Mariner 2,True,flyby,earth,venus,planet,1962-08-27,1963-01-03,NaN,nasa
6,Sputnik 20,False,towards,earth,venus,planet,1962-09-01,1962-09-06,NaN,soviet
7,Sputnik 21,False,towards,earth,venus,planet,1962-09-12,1962-09-14,NaN,soviet
8,Sputnik 22,False,towards,earth,mars,planet,1962-10-24,1962-10-29,NaN,soviet
9,Mars 1,False,towards,earth,mars,planet,1962-11-01,1963-03-21,NaN,soviet
10,Sputnik 24,False,towards,earth,mars,planet,1962-11-04,1962-11-25,NaN,soviet
11,Cosmos 21,False,towards,earth,venus,planet,1963-11-11,1963-11-14,NaN,soviet
12,Venera 1964A,False,towards,earth,venus,planet,1964-02-19,1964-02-19,NaN,soviet
13,Venera 1964B,False,towards,earth,venus,planet,1964-03-01,1964-03-01,NaN,soviet
14,Cosmos 27,False,towards,earth,venus,planet,1964-03-27,1964-03-27,NaN,soviet
15,Zond 1,False,towards,earth,venus,planet,1964-04-02,1964-04-02,NaN,soviet
16,Mariner 3,False,towards,earth,mars,planet,1964-11-05,1964-11-05,NaN,nasa
17,Mariner 4,True,flyby,earth,mars,planet,1964-11-28,1967-12-21,NaN,nasa
18,Zond 2,False,towards,earth,mars,planet,1964-11-30,1965-08-06,NaN,soviet
19,Venera 2,False,towards,earth,venus,planet,1965-11-12,1966-03-04,NaN,soviet
20,Venera 3,False,lander,earth,venus,planet,1965-11-16,1966-03-01,NaN,soviet
21,Cosmos 96,False,towards,earth,venus,planet,1965-11-23,1965-12-09,NaN,soviet
22,Venera 1965A,False,towards,earth,venus,planet,1965-11-26,1965-11-26,NaN,soviet
23,Unnamed,False,towards,earth,mars,planet,1967-03-27,1967-03-27,NaN,soviet
24,Venera 4,True,lander,earth,venus,planet,1967-06-12,1967-10-18,NaN,soviet
25,Mariner 5,True,flyby,earth,venus,planet,1967-06-14,1967-11-01,NaN,nasa
26,Cosmos 167,False,towards,earth,venus,planet,1967-06-17,1967-06-25,NaN,soviet
27,Venera 5,True,lander,earth,venus,planet,1969-01-05,1969-05-16,NaN,soviet
28,Venera 6,True,lander,earth,venus,planet,1969-01-10,1969-05-17,NaN,soviet
29,Mariner 6,True,flyby,earth,mars,planet,1969-02-25,NaN,NaN,nasa
...,...,...,...,...,...,...,...,...,...,...
132,Dawn,True,flyby,earth,mars,planet,2007-09-27,2009-02-17,NaN,nasa
133,Dawn,True,orbit,mars,vesta,asteroid,2009-02-17,2011-07-16,NaN,nasa
134,Dawn,True,orbit,vesta,ceres,asteroid,2011-07-16,2015-03-06,NaN,nasa
135,NEAR,True,orbit,earth,(433) Eros,asteroid,1996-02-17,NaN,NaN,nasa
136,Deep Space 1,True,flyby,earth,(9969) Braille,asteroid,1998-10-24,2001-09-22,NaN,nasa
137,Deep Space 1,True,orbit,(9969) Braille,19P/Borrelly,asteroid,2001-09-22,2001-09-22,NaN,nasa
138,CONTOUR,False,flyby,earth,2P/Encke,asteroid,2002-07-02,2003-11-03,NaN,nasa
139,CONTOUR,False,flyby,2P/Encke,73P/Schwassmann-Wachmann,asteroid,2003-11-03,2006-06-18,NaN,nasa
140,Deep Impact,True,flyby,earth,9P/Tempel,asteroid,2005-01-12,2005-07-04,2005-001A,nasa
141,Deep Impact,True,flyby,9P/Tempel,103P/Hartley,asteroid,2005-07-04,2010-11-04,2005-001A,nasa
142,Stardust,True,flyby,earth,(5535) Annefrank,asteroid,1999-02-07,2002-11-02,NaN,nasa
143,Stardust,True,flyby,(5535) Annefrank,81P/Wild,asteroid,2002-11-02,2004-01-02,NaN,nasa
144,Stardust,True,lander,81P/Wild,earth,planet,2004-01-02,2006-01-15,NaN,nasa
145,Stardust,True,flyby,earth,9P/Tempel,asteroid,2006-01-15,2011-02-14,NaN,nasa
146,Akatsuki (Planet-C),False,orbit,earth,venus,planet,2010-05-20,2010-12-06,2010-020D,jaxa
147,Akatsuki (Planet-C),True,orbit,venus,venus,planet,2010-12-06,2015-12-07,2010-020D,jaxa
148,Juno,True,orbit,earth,jupiter,planet,2011-08-05,NaN,NaN,nasa
149,Phobos-Grunt,False,towards,earth,mars,planet,2011-11-08,2012-01-15,NaN,roscosmos
150,Yinghuo-1,False,towards,earth,mars,planet,2011-11-08,2012-01-15,NaN,cnsa
151,Curiosity (Mars Science Laboratory),True,rover,earth,mars,planet,2011-11-26,NaN,NaN,nasa
152,Mars Orbiter Mission,True,orbit,earth,mars,planet,2013-11-05,NaN,NaN,isro
153,MAVEN,True,orbit,earth,mars,planet,2013-11-18,NaN,NaN,nasa
154,Hayabusa,True,orbit,earth,(25143) Itokawa,asteroid,2003-05-09,2005-10-04,NaN,jaxa
155,Hayabusa,False,lander,(25143) Itokawa,(25143) Itokawa,asteroid,2005-10-04,2005-11-19,NaN,jaxa
156,Hayabusa,True,lander,(25143) Itokawa,earth,planet,2005-11-19,2010-06-13,NaN,jaxa
157,Hayabusa 2,True,flyby,earth,earth,planet,2014-12-03,2015-12-03,2014-076A,jaxa
158,Hayabusa 2,True,ongoing,earth,(162173) 1999 JU3,asteroid,2015-12-03,2018-06,2014-076A,jaxa
159,Chang'e 2,True,flyby,earth,(4179) Toutatis,asteroid,2010-10-01,NaN,NaN,cnsa
160,ExoMars Trace Gas Orbiter,True,ongoing,earth,mars,planet,2016-03-14,NaN,2016-017A,esa
161,OSIRIS-REx,True,ongoing,earth,(101955) Bennu,asteroid,2016-09-08,NaN,NaN,nasa